@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;  
}

html, body {
  font-family: Lato, sans-serif;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app__main {
  flex: 1;
}
